.sp_XYCvv46PnAX{background-image:url(/rsrc.php/v3/yq/r/MKwrVp_7k1D.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:36px;width:36px}.sp_XYCvv46PnAX.sx_b32085{background-position:0 0}

#bootloader_RFYKR{height:42px;}.bootloader_RFYKR{display:block!important;}